body{
	background-color: skyblue;
}
.banner img{
	padding-top: -50px;
}

.thumbnail {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-image: url(10.png);
	height: 305px;
}

.thumbnail h3 {
	color: white;
}

.thumbnail h5 {
	color: white;
}

.thumbnail a{
	background-color: white;
	color: black;
}

.thumbnail img{
	max-width: 250px;
	max-height: 170px;
}

table {
	background-color: white;
}